* {
  font-size: inherit;
  font-family: helvetica, arial, sans-serif;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 2rem; }

body {
  width: 50rem;
  margin: 0 auto;
  padding: 2rem;
  color: rgb(10, 10, 10);
  background: rgb(252, 252, 252);
  font-size: 16px;
}

fieldset legend {
  padding: .5rem;
}

.field {
  margin-bottom: 1rem;
}

header h1 a {
  display: block;
  color: rgb(15, 15, 15);
  text-decoration: none;
}
header h1 a:hover {
  text-decoration: underline;
}
