{% extends "blog/layout.html" %}

{% block content %}
<div class="post-listing">
  {% if not posts %}
    {% if 'q' in request.GET %}
    <p>
    No posts matched query '{{ request.GET.q }}'.
    <a href="{% url 'index' %}">Clear the search</a>.
    </p>

    {% else %}

    <p>No posts, yet.</p>
    {% endif %}

  {% else %}

  {% if request.GET.q %}
  <p>
  Showing results for '{{ request.GET.q }}'.
  Found {{ posts|length  }} post(s).
  <a href="{% url 'index' %}">Clear the search</a>.
  </p>
  {% endif %}

  {% for post in posts %}
  <div class="post">
    <div class="post-title">
      <h1><a href="{% url 'show_post' post.id %}">{{ post.title }}</a></h1>
    </div>

    <div class="post-meta">
      by {{ post.user.username }}
    </div>

    <div class="post-content">
      {{ post.content }}
    </div>
  </div>
  {% endfor %}
  {% endif %}
</div>
{% endblock %}
