{% load blog_utils %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Blog{% block title %}{% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="/static/main.css" />
  </head>

  <body>
    <header>
      <h1><a href="{% url 'index' %}">Blog</a></h1>

      <form action="{% url 'index' %}" method="GET">
        <div class="field">
          <input
            type="text"
            name="q"
            size="78"
            placeholder="Search for posts..."
            value="{{ request.GET.q }}"
          />
        </div>
      </form>
    </header>

    <nav>
      {% if current_user %}
        <p>
        <a href="{% url 'profile' user_id=current_user.id %}">{{ current_user.email }}</a>
        </p>
      {% endif %}

      <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        {% if current_user %}
          {% if current_user.is_author %}
            <li><a href="{% url 'new_post' %}">New post</a></li>
          {% endif %}
          <li><a href="{% url 'logout' %}">Log out</a></li>
        {% else %}
          <li><a href="{% url 'login' %}">Log in</a></li>
          <li><a href="{% url 'register' %}">Register</a></li>
        {% endif %}
      </ul>
    </nav>

    {% block content %}{% endblock %}
  </body>
</html>
